html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

body{
    margin: 0;
    background-color: #252627;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    margin-bottom: 3rem;
}

.navbar{
    background: #F7F4F3;
    margin: 0;
    padding: 0;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-project-div{
    display: flex;
    flex-direction: column;
    transition: opacity 1s ease;
}

.header-wrapper{
    color: #F55536;
    word-wrap: nowrap;
}

.nav-btns-wrapper{
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 15px;
}

.nav-btn{
    transition: transform 1s ease;
}

.nav-btn:hover{
    transform: scale(1.7);
    cursor: pointer;
    text-decoration: underline;
}

.nav-btn-selected{
    color: #ECA72C;
    transform: scale(1.7);
    text-decoration: underline;
}

.main-about-div{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    transition: opacity 1s ease;
}


.hacking-transition-main,
.ketchup-main,
.react-todo-main,
.mvp-forum-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    width: 80vw;
    height: fit-content;
    background-color: #788585;
    margin-bottom: 7em;
}

.hacking-transition-header,
.ketchup-main>h2,
.react-todo-main>h2,
.mvp-forum-main>h2{
    color: #F7F4F3;
    font-size: 2.5rem;
    word-wrap: nowrap;
}

.hacking-transition-description,
.ketchup-description,
.react-todo-description,
.mvp-forum-description{
    height: fit-content;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    gap: 10px;
    padding-bottom: 25px;
}

.hacking-transition-description>h3
.ketchup-description>h3
.react-todo-description>h3
.mvp-forum-description>h3{
    margin: 0;
}

.hacking-transition-description>h3,
.hacking-transition-description>p,
.ketchup-description>h3,
.ketchup-description>p,
.react-todo-description>h3,
.react-todo-description>p,
.mvp-forum-description>h3,
.mvp-forum-description>p{
    color: #F7F4F3;
    text-align: center;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.slides-container {
    height: fit-content;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    height: 4rem;
    background-color: #F7F4F3;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    margin-top: 25%;
}

.slide-arrow:hover {
    opacity: 1;
}

#slide-arrow-prev,
#slide-arrow-prev1,
#slide-arrow-prev2,
#slide-arrow-prev3 {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next,
#slide-arrow-next1,
#slide-arrow-next2,
#slide-arrow-next3 {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide,
.slide1,
.slide2,
.slide3 {
    width: 100%;
    height: fit-content;
    flex: 1 0 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.about-intro-main{
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background-color: #788585;
}

.about-img-wrapper{
    height: 100%;
    width: fit-content;
}

.about-img{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
    width: 100%;
}

.about-intro{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    gap: .8em;
}

.about-intro>h2{
    color: #F7F4F3;
    font-size: 2.5rem;
}

.about-intro>p{
    color: #F7F4F3;
}

.mobile-about-header{
    display: none;
}

.technologies-and-tools{
    width: 80vw;
    height: fit-content;
    background-color: #788585;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 5rem;
}

.icons-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.technologies-and-tools>h2{
    color: #F7F4F3;
    font-size: 2.5rem;
}

.footer{
    width: 99.25vw;
    height: 2.5rem;
    background-color: #F7F4F3;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    opacity: 80%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
}

.footer>*{
    opacity: 80%;
    width: auto;
    height: 75%;
    transition: all 1s ease;
}

.footer>*:hover{
    cursor: pointer;
    transform: scale(1.4);
}

.icons-grid>a{
    transition: all 1s ease;
}

.icons-grid>a:hover{
    transform: scale(1.75);
}


@media (orientation: portrait) {
    .navbar{
        height: fit-content;
    }
    .header-wrapper>h1{
        font-size: 25px;
    }
    .main-project-div{
        width: 100%;
    }
    .main-project-div>div{
        width: 100%;
    }
    .hacking-transition-main>h2{
        text-align: center;
    }
    .about-intro-main{
        width: 100vw;
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .about-intro{
        width: 80%;
        padding: 2rem;
        height: fit-content;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .about-img-wrapper{
        height: fit-content;
        width: 100%;
    }
    .about-img{
        border-radius: 25px;
        object-fit: cover;
    }

    .desktop-about-header{
        display: none;
    }

    .mobile-about-header{
        display: flex;
        width: 100%;
        justify-content: center;
        color: #F7F4F3;
        font-size: 2.5rem;
    }
    .technologies-and-tools{
        width: 85vw;
    }

    .icons-grid{
        grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    .navbar{
        height: 50vh;
    }
    .about-intro-main{
        height: 90vh;
    }
    .about-intro{
        padding: 1rem;
        height: fit-content;
    }
    .desktop-about-header{
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@supports (background: -webkit-named-image(i)){
    .about-img{
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .about-img-wrapper{
        height: 100%;
        width: 25%;
    }
    @media (orientation: portrait){
        .mobile-about-header{
            white-space: nowrap;
        }
        .about-img-wrapper{
            width: fit-content;
            height: fit-content;
        }
        .about-img{
            width: 100%;
            height: auto;
        }
    }
}